on:
  #push:
    #branches:
      #- main
  #pull_request:
    #branches:
      #- main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest  # windows-latest | macos-latest
    name: Test changed-files
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2  # OR "2" -> To retrieve the preceding commit.

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v23

      - name: List all changed files
        run: |
          echo ${{ github.event.repository.name }}
          ls /home/runner/work/${{ github.event.repository.name }}/${{ github.event.repository.name }}
          if [ $(ls .) = *.txt ]; then
          #if [[ $(ls .) == *.txt ]]; then
            echo "woho"
          fi
